body{
    width: 100%;
    background-image: url("images/website-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* .jumbotron{
    background-image: url("../img/trophy-golden.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
#instruction{
    width: 300px;
    display: flex;
    position: absolute;
    top: 250px;
    left: 100px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
#exit{
    display: flex;
    position: absolute;
    top: 275px;
    left: 1050px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: green;
    padding: 0 10px;
}
.container{
    position: relative;
    padding-top: 50px;
}
.mainboxX, .mainboxY{
    background-color: black;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
.mainboxY{
    background-color: s;
    position: absolute;
}
#red_car{
    border-radius: 15px;
}
.carX{
    width: 200px;
    height: 100px;
    border-radius: 15px;
}
.carY{
    width: 100px;
    height: 200px;
    border-radius: 15px;
}
.truckX{
    width: 300px;
    height: 100px;
    border-radius: 15px;
}
.truckY{
    width: 100px;
    height: 300px;
    border-radius: 15px;
}